In [1]:
import io
import re
import scipy
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm 
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_params 
from statsmodels.iolib.summary2 import summary_col 
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Гетероскедастичность

## 1 Тесты
### 1.2 wage equation

In [127]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/wage1.csv')
df

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [128]:
model2 = smf.ols(data=df, formula='np.log(wage) ~ exper+ I(exper**2)+ female+married+smsa').fit()

In [129]:
df['res2']=model.resid**2
df['res']=model.resid

In [130]:
sub_model2= smf.ols(data=df, formula='res2~exper+ I(exper**2)+ female+married+smsa').fit()

In [131]:
St = np.round(len(df)*sub_model.rsquared,2) 
St

8.94

### Результат BP-теста = 8.94

In [132]:
Hi2 = stats.chi2.ppf(1-0.05,5) 
Hi2

11.070497693516351

In [133]:
round(Hi2,2)

11.07

###  Нет оснований отвергнуть нулевую гипотезу. Тест указывает на гомоскедастичность.

## 1 Тесты
### 1.3 output equation

In [134]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [135]:
model3 = smf.ols(data=df, formula='np.log(output) ~ np.log(capital) + np.log(labour) + I(np.log(capital)**2) + I(np.log(labour)**2)').fit

In [136]:
df['res2']=model.resid**2
df['res']=model.resid

In [137]:
sub_model3= smf.ols(data=df, formula='res2~np.log(capital) + np.log(labour) + I(np.log(capital)**2) + I(np.log(labour)**2)').fit()

In [138]:
St = np.round(len(df)*sub_model3.rsquared,2) 
St

5.35

### Результат BP-теста = 5.35

In [139]:
Hi2 = stats.chi2.ppf(1-0.05,4)
Hi2

9.487729036781154

In [140]:
round(Hi2,2)

9.49

### Есть основания отвергнуть нулевую гипотезу. Тест указывает на гетероскедастичность.

## 1 Тесты
### 1.4 cost equation #1

In [141]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [142]:
model4 = smf.ols(data=df, formula='np.log(cost) ~ np.log(q) + I(np.log(q)**2) + np.log(pl) + np.log(pk) + np.log(pf)').fit()

In [143]:
df['res2']=model.resid**2
df['res']=model.resid

In [144]:
sub_model4= smf.ols(data=df, formula='res2~np.log(q) + I(np.log(q)**2) + np.log(pl) + np.log(pk) + np.log(pf)').fit()

In [145]:
St = np.round(len(df)*sub_model4.rsquared,2)
St

6.23

### Результат BP-теста = 6.23

In [146]:
Hi2 = stats.chi2.ppf(1-0.05,5)  
Hi2

11.070497693516351

In [147]:
round(Hi2,2)

11.07

### Есть основания отвергнуть нулевую гипотезу. Тест указывает на гетероскедастичность

## 1 Тесты
### 1.5 cost equation #2

In [181]:
df = pd.read_csv('https://raw.githubusercontent.com/ryupepa/Econometrica/master/python-notebooks/data-csv/Electricity.csv')
df

        cost        q        pl      sl      pk      sk      pf      sf
0     0.2130      8.0   6869.47  0.3291  64.945  0.4197  18.000  0.2512
1     3.0427    869.0   8372.96  0.1030  68.227  0.2913  21.067  0.6057
2     9.4059   1412.0   7960.90  0.0891  40.692  0.1567  41.530  0.7542
3     0.7606     65.0   8971.89  0.2802  41.243  0.1282  28.539  0.5916
4     2.2587    295.0   8218.40  0.1772  71.940  0.1623  39.200  0.6606
..       ...      ...       ...     ...     ...     ...     ...     ...
153   6.8293    946.6  10642.16  0.0883  43.600  0.1914  51.463  0.7203
154   3.7605    377.0   7432.24  0.2117  74.120  0.2274  33.436  0.5609
155   3.9822    391.0   5826.04  0.1926  78.288  0.0924  44.633  0.7151
156  30.1880   5317.0   9586.63  0.0845  78.008  0.2009  41.840  0.7147
157  67.8562  15220.0   6986.09  0.1451  74.025  0.2596  25.662  0.5945

[158 rows x 8 columns]

In [182]:
model5 = smf.ols(data=df, formula='np.log(cost) ~ np.log(q) + I(np.log(q)**2) + np.log(pl) + np.log(pk) + np.log(pf)+I(np.log(pl)**2) + I(np.log(pk)**2) + I(np.log(pf)**2)').fit()

In [183]:
df['res2']=model.resid**2
df['res']=model.resid

In [184]:
sub_model4= smf.ols(data=df, formula='res2~np.log(q) + I(np.log(q)**2) + np.log(pl) + np.log(pk) + np.log(pf) + I(np.log(pl)**2) + I(np.log(pk)**2) + I(np.log(pf)**2)').fit()

## 2 Робастный t-тест (HC s.e.)
### 2.1 output equation

In [190]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

In [192]:
model = smf.ols(data=df, formula='np.log(output)~np.log(capital)+np.log(labour)+I(np.log(capital)**2)+I(np.log(labour)**2)').fit()

In [193]:
model.summary().tables[1]